# Exclude node_modules directory at any level
node_modules/

# Exclude build directories at any level
**/build/

# Exclude dist directories at any level
**/dist/

# Exclude lib directories at any level
**/lib/
.npmrc
packages/reblend-hooks/cjs-test/